<div class="auth-wrapper">
    <form  class="form-signin" [formGroup]="form" (submit)="submit(resturant.id)">
        <h3 class="h3 mb-3 font-weight-normal text-center">Store-Details</h3>
  
        
        <!-- Signup form -->
        
        <div class="form-group">
            <label>Restaurant Name</label>
            <input type="text" value="{{resturant?.name}}" class="form-control" formControlName="name">
            
        </div>
       
        <div class="form-group">
            <label>Description</label>
            <input type="text" value="{{resturant?.description}}" class="form-control" formControlName="description">
        </div>
        
        <div class="form-group">
            <label>logo</label>
            <input type="text" value="{{resturant?.logo}}" class="form-control" formControlName="logo">
        </div>
        
        <div class="form-group">
            <label>location</label>
            <input type="text" value="{{resturant?.location}}" class="form-control" formControlName="location">
        </div>
       
        <div class="form-group">
          <label>location_longitude</label>
          <input type="number" value="{{resturant?.location_longitude}}" class="form-control" formControlName="location_longitude">
        </div>

        <div class="form-group">
            <label>location_latitude</label>
            <input type="number" value="{{resturant?.location_latitude}}" class="form-control" formControlName="location_latitude">
        </div>
        

          
        
        <div class="form-group">
          <label>working Hours</label><br> 
           <input type="number" value="{{resturant?.working_hours}}" class="form-control" formControlName="working_hours"> 
  
  
        </div>

        <div class="form-group">
            <label>Min. Order</label><br> 
             <input type="number" value="{{resturant?.minimum_order}}" class="form-control" formControlName="minimum_order"> 
    
    
          </div>
          <div class="form-group">
            <label>Delivery Fees</label><br> 
             <input type="number" value="{{resturant?.delivery_fees}}" class="form-control" formControlName="delivery_fees"> 
    
    
          </div>
          <div class="form-group">
            <label>Cusine</label><br> 
             <input type="number" value="{{resturant?.cusine_id}}" class="form-control" formControlName="cusine_id"> 
    
    
          </div>
        
        
        
        
        <button  type="submit" class="btn btn-block btn-primary">Update</button>
    </form>
  </div>
  
