<!-- <div class="container" >
    <div class="row ">
    
    <app-resturant-item *ngFor="let resturant of resturants"[routerLink]="[resturant.id]"></app-resturant-item>
    
    </div>

  
</div> -->
<app-navbar></app-navbar>
<div class="container" >
  <div style=" background-color: white;box-shadow:5px 10px 18px#888888;overflow: hidden;" >
    <!-- <div></div> -->
    <h2 style="background-color: #eee7e7;" class=" pl-5 py-3 mb-3 ">All Restaurants</h2>
      <form class="w-25 ml-auto mr-3"  [formGroup]="form" (submit)="submit()">
        <input  id="in"  formControlName="search" class="form-control ml-2" placeholder="Search Restuarant" >
        <!-- <svg style="position: absolute; right:10%;top:25%" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg> -->
  </form>
    <div class="row ">
      

    <div class=" col-md-3 m-auto"  *ngFor="let resturant of resturants"[routerLink]="[resturant?.id]">
    <!-- <div >
     <img class="img-fluid" [src]="resturant.logo">
     
      <h3>{{resturant.name}}</h3>
      
      <p>{{resturant.description}}</p>
    </div> -->

    <div class="card my-3 text-center m-auto" >
      <img [src]="resturant.logo"   class="img-fluid" >
      <hr>
      <!-- <p>{{resturant.logo}}</p> -->
      <div class="card-body text-center">
        <h5 class="card-title">{{resturant?.name}}</h5>
        <p class="text-muted">{{resturant?.description}}</p>
        <!-- <p class="card-text">{{resturant.first_name_vendor}}</p> -->
      </div>
      
    </div>
    
    </div>
    



    </div>
</div>
  
</div>
<app-footer></app-footer>