a { cursor: pointer }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

.io
{
    width: 500px;
    height: 500px;
    background-color: aquamarine;
}
.nav-mine
{
  background-color: rgb(255, 90, 0) !important;  
  display: flex;
  
}
.nav-item-mine
{
    margin-left: 20px !important;
    margin-right: 20px !important;

}

#login
{
   border:white 1px solid;
   padding-right: 10px;
   padding-left: 10; 
   border-radius: 5px;
}