$breadcrumb-divider: quote(">");


@media screen and (max-width: 1000px) {
    #cart {
        display: none; 
        // width: 10% ;
        // bottom: 5%;
        // bottom:10%;
        // position: absolate;
        // position: relative;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
//   @media screen and (max-width: 900px) {
//   #cart {
//     display: none;
//     // width: 100% !important;
//     // position: relative;

//     }
//   }


  @media screen and (max-width: 1000px) {
    #category {
        display: none; 
        // width: 100% !important;
        // position: relative;
    }
  }
  
  
  @media screen and (max-width: 1200px) {
    .info {
        display: none; 
        // width: 100% !important;
        // position: relative;
    }
  }
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
//   @media screen and (max-width: 600px) {
//   #category {
//     display: none;
//     // width: 100% !important;
//     // position: relative;

//     }
//   }