<div class="container">
  <div class="row">
     <!-- <div *ngIf="resturant; else loadingTemplate"> -->
          <div class="col-md-6 mt-3">
 
              <h3> {{ resturant.Name}}</h3> 
               <p>{{ resturant.Description }}</p>
               <img class="img-fluid" [src]="resturant.ProductPicUrl">

           </div>
 <div class="col-md-2"> 

 </div>

       <div  class="col-md-4 mt-3">
  <div class="card" >
    <div class="card-header">
        {{resturant.Status}}
    </div>
    <div class="card-body">
      <h1 class="card-title"><span class="text-danger">{{resturant.Price}}$</span></h1>
      
    </div>
  </div>
       </div>

  
<!-- </div> -->
</div>
</div>

