/* You can add global styles to this file, and also import other style files */
#map {
  height: 90vh;
  width: 135vh;
  margin: auto;
}
// a { cursor: pointer }

// // .app-container {
// //     min-height: 320px;
// //     overflow: hidden;
// // }

// .btn-delete-user {
//     width: 40px;
//     text-align: center;
//     box-sizing: content-box;
// }

// .io
// {
//     width: 500px;
//     height: 500px;
//     background-color: aquamarine;
// }
// .nav-mine
// {
//   background-color: rgb(255, 90, 0) !important;  
//   display: flex;
  
// }
// .nav-item-mine
// {
//     margin-left: 20px !important;
//     margin-right: 20px !important;

// }
// .home__container {
//     width: 80%;
//     margin: auto;
//   }

  .bg__container {
    background: #ffeee5 !important;
    height: 464px !important;
    margin-top: 0;
    z-index: 1;
    position: relative;
    .bg__background {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: antiquewhite;
      > img:first-child {
        position: absolute;
        left: 0px;
        top: 50px;
        width: 200px;
      }
      > img:last-child {
        position: absolute;
        right: 0px;
        top: 50px;
        width: 300px;
      }
    }
  }

  .text--container {
    position: absolute;
    top: 55%;
    left: 50%;
    right: 0px;
    bottom: 0px;
    transform: translate(-50%, -50%);
  }

  .main--header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main--text {
    h1 {
      font-size: 40px;
      font-weight: 500;
      color: #262626;
    }
  }
  .search--input {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    input {
      width: 85%;
      border-radius: 5px;
      border: 0.2px solid #929292;
      padding-left: 10px;
      font-size: 18px;
    }
    button {
        background-color: rgb(255, 90, 0);
        padding: 0px 20px;
      }
}

#map { height: 500px; }