<app-navbar></app-navbar>
<div class="bg__container">
  <div class="bg__background">
    <img src="assets/img/bg.png" alt="">
    <img src="assets/img/bg2.png" alt="">

  </div>
  <div class="text--container">
    <div class="main--header">
      <div class="main--text">
        <h1>Order food online in Egypt</h1>
      </div>
      <div class="search--input">
        
        <input type="text" value="" [(ngModel)]="search" placeholder="Search for area, street, landmark...">
        <!-- <button  mat-flat-button class="btn" style="color: white;" [routerLink]="['letsGo']" routerLinkActive="router-link-active" >Let's Go</button> -->
        
        <!-- <p>You can pass an existing component as content of the modal window. In this case, if you're still using Angular 8 or older, remember to add the content component
          in the <code>entryComponents</code> section of your <code>NgModule</code>. For Angular 9 or newer, it's not needed anymore.
          </p> -->
          <!-- <div *ngIf="!search; else enableTemplate"> -->
          <button *ngIf="!search; else enableTemplate" disabled="true" style="color: white;" class="btn " >Let's Go</button>
      <!-- </div> -->
      <ng-template #enableTemplate>
        <!-- <div> -->
         <button (click)="open()"  style="color: white;" class="btn " >Let's Go</button>
        <!-- </div> -->
    </ng-template>
      </div>
    </div>
  </div>
</div>


<div class="text-center my-5">
<div>
  <h1>Your everyday, right away</h1>
  <h6>Order food and grocery delivery online from hundreds of restaurants and shops nearby.</h6>
</div>
<div class="my-5">
  <img src="assets/img/google-play.png" alt="">
  <img src="assets/img/google-play.png" class="mx-2">
  <img src="assets/img/google-play.png" alt="">
</div>

</div>

<div class="container d-flex flex-wrap my-5 justify-content-between ">
<div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/vertical-restaurants.png" style="width: 200px;height: 200px;background-color: rgba(245, 71, 8, 0.932);">
      </div>
      <div class="col-md-8">
        <div class="card-body ">
          <h5 class="card-title pl-3">Restaurant</h5>
          <p class="card-text pl-3">Find deals, free delivery, and more from our restaurant partners.</p>
          <a class=" pl-3">Explore</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div >
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/vertical-grocery.png" style="width: 200px;height: 200px;background-color: rgba(226, 124, 86, 0.932);">
      </div>
      <div class="col-md-8">
        <div class="card-body" >
          <h5 class="card-title pl-3" >Grocery</h5>
          <p class="card-text pl-3">Find deals, free delivery, and more from our restaurant partners.</p>
          <a class=" pl-3">Explore</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/vertical-pharmacy.png" style="width: 200px;height: 200px;background-color: rgba(49, 114, 211, 0.932);">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title pl-3">Pharmacy</h5>
          <p class="card-text pl-3">Find deals, free delivery, and more from our restaurant partners.</p>
          <a class=" pl-3">Explore</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>         

<div class="text-center my-5">
<h1>
  Join us
</h1>
<p>Be a part of the talabat story</p>

</div>


<div class="container d-flex flex-wrap my-5 justify-content-between">
<div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/become-a-partner.png" style="width: 200px;height: 200px;">
      </div>
      <div class="col-md-8">
        <div class="card-body ">
          <h5 class="card-title pl-3"> Become a partner </h5>
          <p class="card-text pl-3">Reach more customers and achieve growth with us</p>
          <button style="background-color: rgb(255, 90, 0);color: white;" class="btn px-3 ml-3">find more out</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div >
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/career-with-us.png" style="width: 200px;height: 200px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title pl-3"> Build your career </h5>
          <p class="card-text pl-3">Join the dynamic team that makes it all happen</p>
          <button style="background-color: rgb(255, 90, 0);color: white;" class="btn px-5 ml-3">find job</button>
        </div>
      </div>
    </div>
  </div>
</div>


</div>


<div class="container my-5">
<div class="row">
    <div class="col-6">
      <h1>
        Discover the new talabat app
      </h1>
      <p>Get what you need, when you need it. </p>
      <div class="">
        <img src="assets/img/google-play.png" alt="">
        <img class="mx-3" src="assets/img/google-play.png" alt="">
        <img src="assets/img/google-play.png" alt="">
      </div>
    </div>
    <div class="col-6">
      <img src="assets/img/app-view-en.png" class="img-fluid">
    </div>
</div>
</div>



<!-- <div class="p-4">
<div class="container">
    <h1>Hi {{user.firstName}}!</h1>
    <p><a routerLink="/users">Manage Users</a></p>
    
</div>
</div>

<div class="card mt-4">
<h4 class="card-header">Home</h4>
<div class="card-body">
    <p>You're logged in with Angular 10 & JWT!!</p>
    <p>Your role is: <strong>{{user.role}}</strong>.</p>
    <p>This page can be accessed by <u>all authenticated users</u>.</p>
    <p class="mb-1">Current user from secure api end point:</p>
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <ul *ngIf="userFromApi">
        <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
    </ul>
</div>
</div> -->

<!--
<h1>{{ title }}</h1>
<agm-map style=" height: 600px;" [latitude]="lat" [longitude]="lng">
<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
-->

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->


<!-- <app-map></app-map> -->

<!-- <div id="map"></div> -->
<app-footer></app-footer>