<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <br>
    <br>

    <form class="example-form">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input type="text" [(ngModel)]="userData.first_name" name="first_name" matInput placeholder="First Name"
            required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="text" [(ngModel)]="userData.last_name" name="last_name" matInput placeholder="Last Name"
            required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="email" [(ngModel)]="userData.email" name="email" matInput placeholder="Email" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" [(ngModel)]="userData.password" name="password" type="password" matInput
            placeholder="Password" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="text" [(ngModel)]="userData.phone" name="phone" type="phone" matInput placeholder="Phone Number"
            required>
        </mat-form-field>


      </mat-card-content>

      <button (click)="register(userData)" type="submit" mat-stroked-button color="accent"
        class="btn-block">Register</button>
      <div class="d-jcc" style="margin-top: 20px;">
        <a [routerLink]="['/login']" style="text-align: center; text-decoration: none;">Do you have account?!
          Login</a>
      </div>
    </form>
  </mat-card>
</div>